<a href="https://colab.research.google.com/github/DivyaBharsakle/EDS_342_Divya-Bharsakle/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import statistics
l1= [1,2,3,5,6,7,3]
print(statistics.mean(l1))

3.857142857142857

In [ ]:
select 0,1,2,3
select 0,2,4,6
select 0,3,6,9
[
    [1,2,3,4,5,6],
    [l1,l2,l3,l4,l5,l6],
    [21,22,23,24,25,26],
    [31,32,33,34,35,36],
    [41,42,43,44,45,46],
    [51,52,53,54,55,56],
],
[

]

In [ ]:
from statistics import median
t1=(24,23,4,76)
print(median(t1))

23.5

In [ ]:
import statistics
set1=[1,2,5,7,9,5]
print("low median of the set is % s",(statistics.median_low(set1)))

low median of the set is % s 5

In [ ]:
import statistics
l1=[1,2,3,4,5,5,5,9]
print(statistics.mean(l1))

4.25

In [ ]:
from statistics import median
t1=(21,24,56,89)
print(median(t1))

40.0

In [ ]:
import statistics
set1=[1,3,5,6,7,9]
print("median of the set is %s",(statistics.median(set1)))

median of the set is %s 5.5

In [ ]:
from statistics import mode
t1=(2,3,4,4,4,4,6)
print("mode of data set 1 is %s"%(mode(t1)))

mode of data set 1 is 4

In [ ]:
arr=[1,2,3,4,5]
maximum=max(arr)
minimum=min(arr)
range=maximum-minimum
print("maximum={},minimum={} and range={}".format(maximum,minimum,range))

maximum=5,minimum=1 and range=4

In [ ]:
from statistics import variance
t1=(1,2,5,4,8,9,12)
print("variance of sample1 is %s",(variance(t1)))

variance of sample1 is %s 15.80952380952381

In [ ]:
from statistics import stdev
s1=(1,2,5,4,8,9,12)
print("the standard deviation of sample1 is % s",(stdev(s1)))

the standard deviation of sample1 is % s 3.9761191895520196

In [ ]:
import pandas as pd
df=pd.read_excel(r'/content/drive/MyDrive/employee sheet.xlsx')
print(df)
print("")
df1=pd.read_excel(r'/content/drive/MyDrive/Copy of salary sheet  (1).xlsx')
print(df1)

  Employee Name  Employee ID  Salary
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900

      Employee Name  Employee ID           Birthdate   Age
0   1        Sakshi          101  2003-04-12 00:00:00   19
1   2        Aditya          102           24/03/2004   19
2   3         Omkar          103  2004-05-05 00:00:00   18
3   4         Onkar          104           25/07/2003   19
4   5       Srushti          105  2004-07-03 00:00:00   19
5   6        Anshul          106           28/12/2003   19
6   7         Sneha          107  2003-08-12 00:00:00   19
7   8        Pravin          108           19/11/2005   17
8   9          Ojas          109           20/10/2003   19
9  10     Vaishnavi          110  2005-02-03 00:00:00   17

In [ ]:
display(df,df1)

  Employee Name  Employee ID  Salary
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900

      Employee Name  Employee ID           Birthdate   Age
0   1        Sakshi          101  2003-04-12 00:00:00   19
1   2        Aditya          102           24/03/2004   19
2   3         Omkar          103  2004-05-05 00:00:00   18
3   4         Onkar          104           25/07/2003   19
4   5       Srushti          105  2004-07-03 00:00:00   19
5   6        Anshul          106           28/12/2003   19
6   7         Sneha          107  2003-08-12 00:00:00   19
7   8        Pravin          108           19/11/2005   17
8   9          Ojas          109           20/10/2003   19
9  10     Vaishnavi          110  2005-02-03 00:00:00   17

In [ ]:
import pandas as pd
df.sort_values(by=['Salary'])

  Employee Name  Employee ID  Salary
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900

In [ ]:
df.sort_values(by=['Salary'], ascending=False)

  Employee Name  Employee ID  Salary
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800

In [ ]:
display(df,df1)

  Employee Name  Employee ID  Salary
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900

      Employee Name  Employee ID           Birthdate   Age
0   1        Sakshi          101  2003-04-12 00:00:00   19
1   2        Aditya          102           24/03/2004   19
2   3         Omkar          103  2004-05-05 00:00:00   18
3   4         Onkar          104           25/07/2003   19
4   5       Srushti          105  2004-07-03 00:00:00   19
5   6        Anshul          106           28/12/2003   19
6   7         Sneha          107  2003-08-12 00:00:00   19
7   8        Pravin          108           19/11/2005   17
8   9          Ojas          109           20/10/2003   19
9  10     Vaishnavi          110  2005-02-03 00:00:00   17

In [ ]:
def sal():
  import pandas as pd
  a=df.sort_values(by=['Salary'], ascending=False)
  g=a.nlargest(5,'Salary','first')
  print(g)
sal()

  Employee Name  Employee ID  Salary
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900

In [ ]:
import pandas as pd
a=pd.merge(df,df1)
display(a)

  Employee Name  Employee ID  Salary               Birthdate   Age
0        Sakshi          101     800   1  2003-04-12 00:00:00   19
1        Aditya          102     800   2           24/03/2004   19
2         Omkar          103     800   3  2004-05-05 00:00:00   18
3         Onkar          104     900   4           25/07/2003   19
4       Srushti          105     900   5  2004-07-03 00:00:00   19
5        Anshul          106     900   6           28/12/2003   19
6         Sneha          107     900   7  2003-08-12 00:00:00   19
7        Pravin          108     900   8           19/11/2005   17
8          Ojas          109     900   9           20/10/2003   19
9     Vaishnavi          110     900  10  2005-02-03 00:00:00   17

In [ ]:
def sal():
  import pandas as pd
  a=df.sort_values(by=['Salary'], ascending=False)
  g=a.nlargest(3,'Salary', 'first')
  f=a.nlargest(3,['Salary'])
  print(g)
  print(f)
sal()

  Employee Name  Employee ID  Salary
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
  Employee Name  Employee ID  Salary
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900

In [ ]:
t1=(10,20,30,"sakshi",24.4)
t2=(24,"sneha",28.19)
print(t1)
print(t2)

(10, 20, 30, 'sakshi', 24.4)
(24, 'sneha', 28.19)

In [ ]:
from typing_extensions import get_overloads

d1={"AM":"MUNNIAPAN"}
print(d1)
d2={"CDE":"ASHA ABHILASH"}
print(d2)
d3={"SON":"VIJAY TARANGE"}
print(d3)
d4={"FOC":"PRAJAKTA DASHRATH"}
print(d4)
def subject():
    print("experience==good or experience==bad")
    experience =input()
    if experience == "good":
      print("ok")
    elif experience == "bad":
      print("need more theory")
subject=input()
print("which subject do you want to select")
subject=input()
if subject =="cde":
   print(subject())
elif subject== "am":
    print(subject())
elif subject== "son":
    print(subject())
elif subject== "foc":
    print(subject())
elif subject== "physics":
    print(subject())

{'AM': 'MUNNIAPAN'}
{'CDE': 'ASHA ABHILASH'}
{'SON': 'VIJAY TARANGE'}
{'FOC': 'PRAJAKTA DASHRATH'}
CDE
which subject do you want to select

In [ ]:
print("AM")
experience = input()
if experience == goo

In [ ]:
subject=input("select subject")
if subject=="cde":
  print("how was your experience")

In [ ]:
subject=input("select subject")
if subject=="cde":
  print("good")

select subjectcde
good

In [ ]:
faculty_ratings= {}
subjects_taught = ["Mathematics", "Science", "English", "History", "Computer Science", "Social Studies"]

In [ ]:
faculty_ratings = {}
def add_faculty_rating(name, rating, suggestion=""):
    if rating == "good" and rating == "bad":
        faculty_ratings[name] = {"rating": rating, "suggestion": suggestion}
        print("Thank you for your rating and suggestion!")
    else:
        print("Invalid rating. Please rate on a scale of good or bad.")

In [ ]:
def learn_to_code():
    print("You can learn to code for free on freeCodeCamp")

learn_to_code()
# Output: You can learn to code for free on freeCodeCamp

You can learn to code for free on freeCodeCamp

In [ ]:
x = "CDE"

if x == "CDE":
    print("x is good")
elif x == "son":
    print("x is worst")
else:
    print("x is no suggestion")

x is good

In [ ]:
dict1={"ABC":2404,"EDF":64}
print(dict1)
print(dict1.keys())
print(dict1.values())
dict1.update({"SAM":9424})
print(dict1)
a = dict1.__len__()
print(a)
dict1.pop("SAM")
print(dict1)

{'ABC': 2404, 'EDF': 64}
dict_keys(['ABC', 'EDF'])
dict_values([2404, 64])
{'ABC': 2404, 'EDF': 64, 'SAM': 9424}
3
{'ABC': 2404, 'EDF': 64}

In [ ]:
dictionary = {"EDS":4,"FOC":4,"JAVA":7,"HADOOP":10,"C+":21}
keys_for_slicing  = ["FOC","HADOOP"]
sliced_dict = {key:dictionary[key]for key in keys_for_slicing}
print(sliced_dict)

{'FOC': 4, 'HADOOP': 10}

In [ ]:
import json
emp_dict={
    "ERP":"YOU",9:"ERP",8.9:"Python"
}
print(emp_dict)

{'ERP': 'YOU', 9: 'ERP', 8.9: 'Python'}

In [ ]:
def outer():
  print("outer function")

  def inner():
    print("inner function")

  inner()

outer()

outer function
inner function

In [ ]:
def add():
  a=10
  b=20
  c=a+b
  print(c)

  def sub():
    a=30
    b=10
    c=a-b
    print(c)
  sub()
add()

30
20

In [ ]:
import json
x={
    "x":"10",
    "y":56,
    "z":"python"
}
y=json.dumps(x)
print(y)

{"x": "10", "y": 56, "z": "python"}

In [ ]:
import pandas as pd
result=df.transform(func=lambda x:x+10)
print(result)

NameError: ignored

In [ ]:
import json
json_string='{"name":"Classio","website":"stack.com"}'
dictionary=json.loads(json_string)
print(dictionary)

{'name': 'Classio', 'website': 'stack.com'}

In [ ]:
import numpy as np
x=np.array([[1,2],[4,5]])
y=np.array([[6,7],[9,10]])
print("addition of matrix")
print(np.add(x,y))
print("subtraction of matrix")
print(np.subtract(x,y))

addition of matrix
[[ 7  9]
 [13 15]]
subtraction of matrix
[[-5 -5]
 [-5 -5]]

In [ ]:
l1=np.matrix('1,2,3;4,5,6;7,8,9')
a=np.array(l1)
print(a)
print(a.T)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [ ]:
stack=[]
stack.append('a')
stack.append('b')
stack.append('c')
print(sta)

In [ ]:
#short hand if else
print("Enter any number of your choice")
num=int(input())
print(num,"is even")if num%2==0else print(num,"is odd")

Enter any number of your choice
21
21 is odd

In [ ]:
day=input("what is the day today?")
if day=="monday":
  print("it is a day for work!")
elif day=="tuesday":
  print("python test")
elif day=="wednesday":
  print("a holiday")
else:
  print("null")

what is the day today?tuesday
python test

In [ ]:
i=1
while i<10:
  print("sakshi")
  i=i+1

sakshi
sakshi
sakshi
sakshi
sakshi
sakshi
sakshi
sakshi
sakshi

In [ ]:
from datetime import date
today=date.today()
print(today)

2023-05-03

In [ ]:
import datetime
current_time=datetime.datetime.now()
print("the attributes of now() are:")
print("day:",end="")
print(current_time.day)
print()
print(current_time.month)
print("year:",end="")
print(current_time.year)

the attributes of now() are:
day:3

5
year:2023

In [ ]:
from datetime import date
def calculateAge(dob):
  today=date.today()
  age

In [ ]:
import csv
file=open("/content/drive/MyDrive/salary sheet.csv","r")
data=list(csv.reader(file))
data.sort()
print(data)
file.close()
file1=open("/content/drive/MyDrive/employee sheet.csv","r")
data1=list(csv.reader(file1))
print(data1)
data2=[]
for i in range(len(data)):
  data2.append(data[i]+data1[i])
print(data2)
print(data2[0])
data2.sort(key=lambda x: int(x[2]),reverse=true)
print(data2)
file2=open("/content/emp-sal.csv","w")
cw=csv.writer(file2)
cw.writerows(data2)
file.close()
file1.close()
file2.close()

UnicodeDecodeError: ignored

In [ ]:
#merging of list n tuple
l1=(2,3,6,8,"python",4.5)
l2=[4,5,6]
l3=[l1,l2]
print(l3)
l4=[*l1,*l2]#masking
print(l4)

[(2, 3, 6, 8, 'python', 4.5), [4, 5, 6]]
[2, 3, 6, 8, 'python', 4.5, 4, 5, 6]

In [ ]:
#itertools in python is a module that provides various functions that work on iterators to produce complex iterators.(iterations)
from itertools import count

for number in count(start=1, step=2):
  if number > 10:
    break
  print(number)

1
3
5
7
9

In [ ]:
#fraction is a module which provides support for rational numbers.it allows to create a fraction instance from integers,floats,numbers,decimals and strings.
#fraction is a module we are importing Fraction as a func from it
from fractions import Fraction
print(Fraction(24,4))
print(Fraction(84,21))
print(Fraction(81,7))
print(Fraction(244,68))

6
4
81/7
61/17

In [ ]:
#python modules
#module is a file containing a set of functions which we want to include in our application
#import math library
import math
#return the value of 2 raised to power of 4
print(math.pow(2,4))

16.0

In [ ]:
#python implements decimal numbers as double
#precision floating point numbers which are machine dependent
import decimal
float_division=4/2
decimal_division=decimal.Decimal(4)/decimal.Decimal(2)
print("result for float division of 4 by 2:")
print(float_division)
print("result for decimal division of 4 by 2:")
print(decimal_division)

result for float division of 4 by 2:
2.0
result for decimal division of 4 by 2:
2

In [ ]:
import decimal
from decimal import Decimal
x=Decimal('0.44')
y=Decimal('0.28')
z=Decimal('0.4')
s=x+y+z
print(s)=

1.12

In [ ]:
#the operator module exports a set of efficient functions
#corresponding to the intrinsic operators of python
#for example,operator.add(x,y)is equivalent to the expression x+y
import operator
#intializing variables
a=2
b=3
#use add() to add two nos
print("the addition of numbers is:",end="");
print(operator.add(a,b))
#use sub()to subtract two nos
print("the differnece of numbers is:",end="");
print(operator.sub(a,b))
#use mul()to multiply two nos
print("the product of numbers is:",end="");
print(operator.mul(a,b))

the addition of numbers is:5
the differnece of numbers is:-1
the product of numbers is:6

In [ ]:
t1=(10,20,"sakshi")
t2=(12.4,13)
t3=t1+t2
print(t3)

(10, 20, 'sakshi', 12.4, 13)

Hello, World!

In [ ]:
import pandas as pd
result=df.transform(func=lambda x:x+10)
print(result)

In [ ]:
import decimal
from decimal import Decimal
x=Decimal('2.3')
y=Decimal('2.4')
z=Decimal('0.2')
s=x+y+z
print(s)

4.9

TO CREATE A "CONTACT BOOK" WITH THE DETAILS OF THE PERSON AS FOLLOWS:


1.   NAME
2.   PHONE NUMBER
3.   EMAIL ID
4.   ADDRESS
5.   CITY LOCATION

AND TO CHECK THE SAVED CONTACTS IN A CSV FILE NAMED 'contacts.csv'.

In [ ]:
import pandas as pd

contacts_df = pd.DataFrame(columns=['Name', 'Phone', 'Email', 'Address', 'City'])

def add_contact():
    name = input("Enter name: ")
    phone = input("Enter phone number: ")
    email = input("Enter email address: ")
    address = input("Enter address: ")
    city = input("Enter city: ")

    contact = {'Name': name, 'Phone': phone, 'Email': email, 'Address': address, 'City': city}

    global contacts_df
    contacts_df = contacts_df.append(contact, ignore_index=True)
    print("Contact added successfully.")

def search_contact():
    search_term = input("Enter the name or phone number to search: ")

    search_results = contacts_df[
        (contacts_df['Name'].str.contains(search_term, case=False)) |
        (contacts_df['Phone'].str.contains(search_term))
    ]

    if search_results.empty:
        print("No contacts found.")
    else:
        print("Search results:")
        print(search_results)

while True:
    print("1. Add Contact")
    print("2. Search Contact")
    print("3. Exit")
    choice = input("Enter your choice (1-3): ")

    if choice == '1':
        add_contact()
    elif choice == '2':
        search_contact()
    elif choice == '3':
        break
    else:
        print("Invalid choice. Please try again.")

# For saving the contacts into a CSV File
contacts_df.to_csv('/content/drive/MyDrive/contacts.csv', index=False)
print("Contacts saved to contacts.csv.")

1. Add Contact
2. Search Contact
3. Exit

In [ ]:
from string import ascii_letters
try:
    a = input()
    assert all(c in ascii_letters for c in a)

except:
    print("Wrong, try again")

isalpha():

a = input()
if a.isalpha():
    print("Correct!")
else:
    print("Wrong")

SyntaxError: ignored

In [ ]:
Reading AND WRITING CSV FILES IN PYTHON USING MODULE AND PANDAS

In [ ]:
import csv

# Reading CSV file
with open('/content/drive/MyDrive/LAPTOP DETAILS RECORD.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        # Process each row
        print(row)

# Writing CSV file
data = [
    ['Name', 'Age', 'City'],
    ['John', '25', 'New York'],
    ['Alice', '30', 'Chicago'],
    ['Bob', '35', 'San Francisco']
]

with open('/content/drive/MyDrive/LAPTOP DETAILS RECORD.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import csv

# Reading CSV file
with open('/content/drive/MyDrive/LAPTOP DETAILS RECORD.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        # Process each row
        print(row)

['Name', 'Age', 'City']
['John', '25', 'New York']
['Alice', '30', 'Chicago']
['Bob', '35', 'San Francisco']

In [ ]:
# Writing CSV file
data = [
    ['Name', 'Age', 'City'],
    ['John', '25', 'New York'],
    ['Alice', '30', 'Chicago'],
    ['Bob', '35', 'San Francisco']
]

with open('/content/drive/MyDrive/LAPTOP DETAILS RECORD.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
import pandas as pd
df=pd.read_excel(r'/content/drive/MyDrive/employee sheet.csv')
print(df)
print('')

  Employee Name  Employee ID  Salary
0        Sakshi          101     800
1        Aditya          102     800
2         Omkar          103     800
3         Onkar          104     900
4       Srushti          105     900
5        Anshul          106     900
6         Sneha          107     900
7        Pravin          108     900
8          Ojas          109     900
9     Vaishnavi          110     900

In [ ]:
#

In [ ]:
import csv

# Reading CSV file
with open('/content/drive/MyDrive/employee sheet.csv', 'r') as file:
    reader = csv.reader(file)
    print(reader)
    #for row in reader:
        # Process each row
        #print(row)

<_csv.reader object at 0x7fa927edadc0>

In [ ]:
#import pandas as pd
#df=pd.read_csv("/content/drive/MyDrive/Fresher Data.csv.csv")
#df
import csv
with open("/content/drive/MyDrive/Fresher Data.csv.csv","r")as cs:
  csv_reader=csv.reader(cs)
  for line in csv_reader:
    print(line)
cs.close()

['Cally', '2000', '74000', 'IT']

In [ ]:
import csv
with open("/content/drive/MyDrive/Fresher Data.csv.csv",'w')as cs:
  pandas_writer=csv.writer(cs)
  pandas_writer.writerow([ 'Cally', '2000','74000','IT'])
  print("Data inserted successfully")
cs.close()